* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* start navbar section */
.navbar {
  max-width: 1600px;
  height: 76px;
  padding: 16px 200px 16px 200px;
  background-color: rgb(26, 12, 48);
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 219px;
  height: 100%;
  margin-top: -6px;
}

.nav-logo-span {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.nav-logo-color {
  color: #f208ba;
}

/* HAMBURGER */
.hamburger-icon {
  display: none;
  font-size: 40px;
  text-align: left;
  cursor: pointer;
  color: white;
}
/* HAMBURGER */

.nav-menu {
  width: 250px;
  height: 100%;
  padding: 9px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}

.nav-button {
  width: 135px;
  height: 100%;
  background: linear-gradient(135deg, #f8af5d, #fa09b4, #a702e9);
  padding: 9px;
  border-radius: 30px;
  color: white;
  text-align: center;
}

.nav-button i {
  font-size: 16px;
  margin-left: 10px;
}

.nav-button:hover {
  background: transparent;
  border: 2px solid #03e57f;
  border-radius: 30px;
  color: #03e57f;
  transition: 0.3s;
}

/* end navbar section */

/* start hero section */
.hero {
  max-width: 1600px;
  height: 760px;
  background-image: url(./assets/hero-bg.png);
  background-size: cover;
  padding: 101px 525px;
}
.hero-container {
  width: 550px;
  height: 558px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40;
}

.hero-content {
  width: 350px;
  height: 350px;
  border: 8px solid rgba(42, 24, 108, 1);
  border-radius: 50%;
  background: linear-gradient(135deg, #f8af5d, #fa09b4, #a702e9);
  padding: 69px 75px 81px 75px;
  display: flex;
  justify-content: center;
  position: relative;
}
.microphone {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
}

.new {
  width: 75px;
  height: 38px;
  background: #00ff88;
  font-size: 18px;
  border-radius: 30px;
  position: absolute;
  top: 15px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.hero-heading {
  width: 550px;
  height: 72px;
  color: rgba(255, 255, 255, 1);
  font-size: 60px;
  font-weight: 800;
  line-height: 73px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}

.hero-subheading {
  width: 550px;
  height: 48px;
  color: #bbb8c5;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.hero-button {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.hero-button-one {
  width: 210px;
  height: 44px;
  background: linear-gradient(135deg, #f8af5d, #fa09b4, #a702e9);
  border-radius: 30px;
  color: white;
  text-transform: capitalize;
}
.hero-button-one i {
  font-size: 16px;
  margin-right: 10px;
}

.hero-button-one:hover {
  background: transparent;
  border: 2px solid #03e57f;
  border-radius: 30px;
  color: #03e57f;
  transition: 0.3s;
}

.hero-button-two {
  width: 147px;
  height: 44px;
  background: transparent;
  border: 2px solid #03e57f;
  border-radius: 30px;
  color: #03e57f;
  text-transform: capitalize;
}

.hero-button-two i {
  font-size: 16px;
  margin-right: 10px;
}
.hero-button-two:hover {
  background: linear-gradient(135deg, #f8af5d, #fa09b4, #a702e9);
  border-radius: 30px;
  color: white;
  border: none;
  transition: 0.3s;
}
/* end hero section */

/* start about the podcast section */
.about-podcast {
  max-width: 1600px;
  height: 647px;
  background: #1a0c30;
  padding: 50px 200px 120px 200px;
}
.podcast-heading {
  width: 100%;
  height: 223px;
}

.about-podcast h1 {
  font-size: 48px;
  font-style: Bold;
  font-weight: 700;
  color: #ffffff;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.podcast-subheading {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #bbb8c5;
  letter-spacing: 0%;
  text-align: center;
}

.line {
  width: 100%;
  color: #31193e;
  margin-top: 80px;
}

.podcast-rating {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: #00ff88;
}

.podcast-rating-item h3 {
  font-size: 36px;
  font-weight: 700;
}

.podcast-rating-item p {
  font-size: 14px;
  color: #bbb8c5;
  text-transform: uppercase;
}
/* end about the podcast section */

/* start why choose tcechwave section */
.choose-section {
  width: 100%;
  height: 1122px;
  padding: 120px 200px;
  background: #230e3d;
  text-align: center;
}

.choose-section h2 {
  font-size: 42px;
  margin-bottom: 60px;
  color: #ffffff;
}

.choose-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 750px;
  gap: 24px;
}

.card {
  background: #2a0f4d;
  border-radius: 20px;
  padding: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio {
  grid-row: span 2;
}

.audio img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.mobile {
  grid-column: span 2;
}

.mobile img {
  width: 50px;
  height: 60px;
  margin-bottom: 20px;
}

.global {
  grid-column: span 2;
}

.global img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.interviews {
  grid-column: span 2;
}

.interviews img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.resource img {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.card p {
  font-size: 14px;
  line-height: 1.6;
  opacity: 0.8;
  color: #bbb8c5;
}
/* end why choose tcechwave section */

/* start feature section */
.feature {
  max-width: 1600px;
  height: 1276px;
  background: #1a0b2e;
  padding: 120px 200px;
}

.freature-container-one {
  width: 100%;
  height: 539px;
  margin-bottom: 120px;
}

.freature-container-one h1 {
  font-size: 48px;
  font-style: Bold;
  font-weight: 700;
  color: #ffffff;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.feature-card {
  display: flex;
  gap: 40px;
}

.feature-card-contant {
  width: 100%;
  height: auto;
  padding: 0 20px 20px 20px;
}

.box {
  width: 380px;
  height: 440px;
  border-radius: 20px;
  background: #250d44;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 20px;
}

.box h2 {
  font-size: 30px;
  font-style: Bold;
  color: #ffffff;
  letter-spacing: 0%;
  margin-bottom: 12px;
}

.box p {
  font-size: 16px;
  color: #bbb8c5;
  margin-bottom: 12px;
}

.clock {
  width: 332px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  color: #00ff88;
}

.freature-container-two {
  width: 100%;
  height: auto;
}

.freature-container-two .h2 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0%;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.freature-container-two-contant {
  width: 100%;
  height: auto;
  background: #250e44;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.photo {
  width: 200px;
  height: 200px;
  background-image: url(./assets/host.png);
  background-size: cover;
  padding: 100px;
}

.alex-kumar-about {
  width: 896px;
  height: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.alex-kumar-about h2 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0%;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.alex-kumar-about p {
  font-size: 16px;
  color: #bbb8c5;
  margin-bottom: 16px;
}

.alex-kumar-social-link {
  width: 184px;
  height: 40px;
  display: flex;
  gap: 8px;
}
.social-link {
  width: 40px;
  height: 40px;
  border: 1px solid #533c72;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* start feature section */

/* start footer  */

.footer {
  max-width: 1600px;
  height: 412px;
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  padding: 130px 150px;
}

.footer-contant {
  width: 100%;
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 410px;
  height: 60px;
  text-align: center;
  margin-bottom: 32px;
}

.footer-logo-span {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.footer-logo-color {
  color: #f208ba;
}

.footer-social {
  width: 544px;
  height: 24px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.footer-social-link {
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.spotify {
  width: 87px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.apple-podcasts {
  width: 152px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.youtube {
  width: 99px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.twiter {
  width: 86px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1px;
  gap: 7px;
}

.footer-social p {
  font-size: 16px;
  color: #bbb8c5;
  padding-bottom: 5px;
}

.copy-right {
  width: 100%;
  height: 24px;
  text-align: center;
  font-size: 16px;
  color: #bbb8c5;
}
/* end footer  */

/* start responsive design for mobile device 576px */
/* ############################################# */
@media (max-width: 576px) {
  .navbar {
    padding: 16px 20px;
  }

  .nav-menu {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .hamburger-icon {
    display: block;
    color: white;
    font-size: 22px;
    cursor: pointer;
  }

  .nav-logo {
    width: auto;
  }
  /* #################################### */
  .hero {
    height: auto;
    padding: 40px 20px;
  }

  .hero-container {
    width: 100%;
    height: auto;
  }

  .hero-content {
    width: 260px;
    height: 260px;
    padding: 40px;
  }

  .microphone {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  .new {
    top: 0;
    right: 0;
  }

  .hero-heading {
    width: 100%;
    font-size: 40px;
    line-height: 44px;
    margin-top: 20px;
  }

  .hero-subheading {
    width: 100%;
    font-size: 14px;
  }

  .hero-button-one,
  .hero-button-two {
    width: 200px;
    height: 44px;
  }

  /* ##################################### */

  .about-podcast {
    height: auto;
    padding: 40px 20px;
  }

  .podcast-heading {
    height: auto;
  }

  .about-podcast h1 {
    font-size: 32px;
    line-height: 36px;
  }

  .podcast-subheading {
    font-size: 16px;
    line-height: 22px;
    text-align: left;
  }
  .br-tag {
    display: none;
  }
  .line {
    margin-top: 40px;
  }

  .podcast-rating {
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .podcast-rating-item {
    width: 45%;
  }

  .podcast-rating-item h3 {
    font-size: 40px;
  }

  .podcast-rating-item p {
    font-size: 14px;
  }

  /* ###################################### */

  .choose-section {
    height: auto;
    padding: 40px 20px;
  }

  .choose-section h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .choose-grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
  }

  .audio,
  .mobile,
  .global,
  .interviews {
    grid-column: auto;
    grid-row: auto;
  }

  .card {
    padding: 20px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }

  /* ####################################### */

  .feature {
    width: 100%;
    padding: 40px 20px;
    height: auto;
  }

  .freature-container-one {
    height: auto;
    margin-bottom: 60px;
  }

  .freature-container-one h1 {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
  }

  .feature-card {
    flex-direction: column;
    gap: 20px;
  }

  .box {
    width: 100%;
    height: auto;
  }

  .feature-card-contant {
    padding: 10px 0 20px 0;
  }

  .box h2 {
    font-size: 20px;
    text-align: center;
  }

  .box p {
    font-size: 14px;
    text-align: center;
  }

  .clock {
    width: 100%;
    justify-content: center;
  }

  .freature-container-two {
    height: auto;
  }

  .freature-container-two .h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
  }

  .freature-container-two-contant {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
  }

  .alex-kumar-about {
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .alex-kumar-about h2 {
    font-size: 24px;
  }

  .alex-kumar-about p {
    font-size: 16px;
    line-height: 20px;
  }

  .alex-kumar-social-link {
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .social-link {
    width: 40px;
    height: 40px;
  }

  /* ############################################ */
  .footer {
    padding: 40px 20px;
    height: auto;
  }

  .footer-contant {
    gap: 20px;
  }

  .footer-logo {
    margin-bottom: 15px;
  }

  .footer-logo-span {
    font-size: 28px;
  }

  .footer-social {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .spotify,
  .apple-podcasts,
  .youtube,
  .twiter {
    width: auto;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    width: 40%;
  }
  .footer-social-link {
    width: 30px;
    height: 30px;
  }

  .footer-social p {
    font-size: 12px;
    margin: 0;
  }

  .copy-right {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  .copy-right p {
    font-size: 16px;
  }
}
/* ################################################### */
