/* start navbar section */

.navbar {
  width: 1600px;
  height: 76px;
  padding: 16px 200px 16px 200px;
  background-color: rgb(65, 37, 103);
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 120px;
  height: 100%;
}

.nav-menu {
  width: 250px;
  height: 100%;
  padding: 9px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: white;
}

.nav-button {
  width: 135px;
  height: 100%;
  background: linear-gradient(135deg, #f8af5d, #fa09b4, #a702e9);
  padding: 9px;
  border-radius: 30px;
  color: white;
  text-align: center;
}

.nav-button i {
  font-size: 16px;
  margin-left: 10px;
}

/* end navbar section */
